<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .error-container {
            text-align: center;
        }
        .error-message {
            font-size: 24px;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="error-container">
    <h1>Error</h1>
    <h1 th:if="${ErrorStatus}" th:text="${ErrorStatus}"></h1>
    <p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}">An error occurred.</p>
</div>
</body>
</html>