<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        padding: 20px;
        width: 100%;
    }
</style>
<body>
<div class="container">
    <h1>Hello World!</h1>
    <p>Test, ㄱㄴ가나, 1, @$%@$ㅆ@$ㅆa43a</p>
    <span th:text="${Test}"></span>
    <span th:text="${Number}"></span>
</div>
</body>
</html>